{% extends "admin/layout.html.twig" %}

{% block title %}Modification de mot de passe - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier mon mot de passe</h1>

    <div class="my-4">
        <a href="{{ path('admin_user_edit') }}">&lt;- Revenir sur mes informations</a>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-warning"><i class="fas fa-pen me-2"></i>Modifier</button>
    {{ form_end(form) }}
{% endblock %}
