{% extends "admin/layout.html.twig" %}

{% block title %}Modification de mot de passe - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier mot de passe</h1>
    <a class="link-dark" href="{{ path('admin_user_edit') }}">Revenir sur mes informations</a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
