{% extends "showcase/layout.html.twig" %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block content %}

    <h1 class="h1 my-4">Connexion au site admin</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Tu est connecté·e en tant que {{ app.user.username }}. <a href="{{ path('app_logout') }}">Déconnecte-toi en cliquant ici.</a>
            </div>
        {% else %}
            <div class="mb-3">
                Vous ne faites pas parti du groupe? <a href="{{ path('showcase_home') }}">Retournez sur le site en cliquant ici.</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">
            Connexion
        </button>
    </form>
{% endblock %}
