{% extends "admin/layout.html.twig" %}

{% block title %}Nouvel utilisateur - {{ parent() }}{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h1 my-4">Nouvel utilisateur</h1>

    <div class="my-4">
        <a href="{{ path('admin_members') }}">&lt;- Revenir sur la liste des membres</a>
    </div>

    {{ form_start(registration_form) }}
        {{ form_widget(registration_form) }}
        <button class="btn btn-success"><i class="fas fa-plus me-2"></i>Enregistrer</button>
    {{ form_end(registration_form) }}
{% endblock %}
