{% extends "admin/layout.html.twig" %}

{% block title %}Nouvel utilisateur - {{ parent() }}{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h1 my-4">Nouvel utilisateur</h1>

    <a href="{{ path('admin_members') }}">Revenir sur la liste des membres</a>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn btn-success">Ajouter cet utilisateur</button>
    {{ form_end(registrationForm) }}
{% endblock %}
