<div class="d-flex justify-content-between">
    <form action="{{ path('admin_vote', {'id': concert.id}) }}" method="POST">
        <div class="d-flex justify-content-start">
            <div class="d-flex justify-content-center mx-1">
                <button class="btn btn-success" type="submit" value="1" name="vote">Je serai là!</button>

                <div class="dropdown">
                    <button class="border-0 bg-primary dropdown-toggle" type="button" id="accepted-dropdown-{{ concert.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ concert.votes|filter(vote => vote.vote)|length }}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="accepted-dropdown-{{ concert.id }}">
                        {% for vote in concert.votes|filter(vote => vote.vote) %}
                            <li>{{ vote.voter.pseudonym ?? vote.voter.firstname }}</li>
                        {% else %}
                            <li>Personne n'a encore voté</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-center mx-1">
                <button class="btn btn-danger" type="submit" value="0" name="vote">Pas dispo :(</button>

                <div class="dropdown">
                    <button class="border-0 bg-primary dropdown-toggle" type="button" id="denied-dropdown-{{ concert.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ concert.votes|filter(vote => not vote.vote)|length }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="denied-dropdown-{{ concert.id }}">
                        {% for vote in concert.votes|filter(vote => not vote.vote) %}
                            <li>{{ vote.voter.pseudonym ?? vote.voter.firstname }}</li>
                        {% else %}
                            <li>Personne n'a encore voté</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <input type="hidden" name="_token" value="{{ csrf_token('vote' ~ concert.id) }}">
        <input type="hidden" name="route" value="{{ app.request.attributes.get('_route') }}">
    </form>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="float-right">
            {% include "admin/components/concert/_admin_button.html.twig" %}
        </div>
    {% endif %}
</div>
