{% extends "admin/layout.html.twig" %}

{% block title %}Modifier mes informations - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier mes informations :</h1>

    <a class="link-dark" href="{{ path('admin_user_show') }}">Revenir sur mon profil</a>

    {% include "admin/components/user/_edit_form.html.twig" with {"button_label": "Modifier"} %}

    <a class="btn btn-warning" href="{{ path('admin_change_password') }}">Modifier mon mot de passe</a>
    <form method="post" action="{{ path('admin_user_delete_account') }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer ton compte? Cette action est irréversible');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <button class="btn btn-danger">Supprimer mon compte</button>
    </form>
{% endblock %}
