{% extends "admin/layout.html.twig" %}

{% block title %}Les membres - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les Membres :</h1>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-success" href="{{ path('app_register') }}">Ajouter un nouveau membre</a>
    {% endif %}

    <div class="accordion accordion-flush" id="membersAccordion">
        {% set count = 0 %}
        {% for instrument in instruments %}
            {% for user in instrument.players %}
                {% set count = count + 1 %}
                <div class="accordion-item border-0 {{ count is odd ? 'bg-secondary' }}">
                    <h2 class="accordion-header" id="flush-title-{{ user.id }}">
                        <button class="accordion-button collapsed {{ count is odd ? 'bg-secondary' }}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ user.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ user.id }}">
                            <div class="col-12 d-flex justify-content-around">
                                <div class="col-3 px-4">{{ user.firstname ~ ' ' ~ user.lastname }}</div>
                                <div class="col-3 px-4 text-center">{{ instrument.name }}</div>
                                <div class="col-3 px-4 text-center">{{ user.phone ?? 'Numéro de téléphone non renseigné' }}</div>
                                <div class="col-3 px-4 text-end">{{ user.email }}</div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapse-{{ user.id }}" class="accordion-collapse collapse" aria-labelledby="flush-title-{{ user.id }}" data-bs-parent="#membersAccordion">
                        <div class="accordion-body">
                            {% if user.catchphrase %}
                                <div>Quelques mots sur lui/elle : "{{ user.catchphrase }}"</div>
                            {% endif %}
                            <div>Droits admin : {% if 'ROLE_ADMIN' in user.roles %}Oui{% else %}Non{% endif %}</div>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div>{% include "admin/components/user/_delete_form.html.twig" %}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="accordion-item">Aucun membre trouvé :(</div>
        {% endfor %}
    </div>
{% endblock %}
