{% extends "admin/layout.html.twig" %}

{% block title %}Modifier le morceau - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier le morceau :</h1>

    <a class="link-dark" href="{{ path('admin_songs') }}">Revenir sur la liste des partitions</a>

    {% include "admin/components/song/_form.html.twig" with {"button_label": "Modifier"} %}
    <div class="my-1">
        {% include "admin/components/song/_delete_form.html.twig" %}
    </div>

    <h2 class="h2 my-4 text-decoration-underline">Les partitions :</h2>

    <a class="btn btn-success" href="{{ path('admin_song_sheet_add', {'id': song.id}) }}">Ajouter une partition</a>

    {% if song.musicSheets is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Instrument</th>
                    <th>Spécifications</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in song.musicSheets %}
                    <tr>
                        <td>{{ sheet.instrument.name ?? 'Non renseigné' }}</td>
                        <td>{{ sheet.specification ?? 'Non renseigné' }}</td>
                        <td><a class="link-dark" target="_blank" href="/uploads/music-sheets/{{ sheet.url }}">Visualiser</a></td>
                        <td><a class="btn btn-warning" href="{{ path('admin_song_sheet_edit', {'id': sheet.id}) }}">Modifier</a></td>
                        <td>{% include "admin/components/song/_sheet_delete_form.html.twig" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune partition trouvée :(</p>
    {% endif %}
{% endblock %}
