{% extends "showcase/layout.html.twig" %}

{% block title %}Le big band - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">LE BIG BAND</h1>

    <h2 class="h2 my-4">Notre histoire</h2>

    <p>
        Le Souq' Jazz Machine est né en 2001 sous l’impulsion d’une dizaine de saxophonistes, rapidement rejoint par une rythmique (batterie, basse, piano, guitare) et une section de cuivres afin de satisfaire aux besoins de la scène. Après avoir assuré de nombreuses prestations dans les bars, soirées privées et animations diverses, dans un style avant tout jazz, cette bande d’amis a évolué vers la formation big band que nous connaissons aujourd’hui. Accompagnant maintenant un crooner et deux chanteuses de choc, l’ambiance est latine, jazz et funky, dans un répertoire allant de Duke Ellington à James Brown, en passant par John Coltrane, Ray Charles ou Stevie Wonder.
    </p>

    <h2 class="h2 my-4">L'équipe</h2>

    <div class="container">
        <div class="row justify-content-center">
            {% for instrument in instruments %}
                {% if instrument.players is not empty %}
                    <h3 class="h2 my-4 text-center text-decoration-underline">{{ instrument.name }}</h3>
                    {% for player in instrument.players %}
                        <div class="col-3 p-4">
                            <div class="card border-0">
                                <img src="https://placekitten.com/g/400/400?image={{ random(0, 16) }}" class="card-img-top" alt="Une photo de {{ player.firstname ~ player.lastname }}">
                                <div class="card-body text-center">
                                    <h3 class="card-title h3">{{ player.firstname }} {{ player.pseudonym ? '"' ~ player.pseudonym ~ '"' }} {{ player.lastname }}</h3>
                                    {% if player.catchphrase %}
                                        <p class="card-text">"{{ player.catchphrase }}"</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
