{% extends "showcase/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">CALENDRIER</h1>

    {% for concert in concerts %}
        <div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <p class="h5">{{ concert.city }}</p>
                    <p class="h5">{{ concert.date|date('d/m/Y, H:i') }}</p>
                    {% for rate in concert.rates %}
                        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ concert.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% else %}
        <p>Aucun concert trouvé :( Mais ne partez pas trop loin, on revient bientôt! ;)</p>
    {% endfor %}

{% endblock %}
