{% extends "showcase/layout.html.twig" %}

{% block title %}Répondre à l'annonce - {{ parent() }}{% endblock %}

{% block content %}
    <h1 data-aos="fade-right" class="h1 my-4">REJOIGNEZ-NOUS!</h1>

    <p data-aos="fade-right" class="h3 my-4">{{ offer.description }}</p>

    <div data-aos="fade-up">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-secondary"><i class="fas fa-paper-plane me-2"></i>Envoyer!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
