{% extends "showcase/layout.html.twig" %}

{% block title %}Répondre à l'annonce - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">REJOIGNEZ-NOUS!</h1>

    <h2 class="h3 my-4">{{ offer.description }}</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-secondary">Envoyer!</button>
    {{ form_end(form) }}
{% endblock %}
