<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Nouvelle demande de contact</title>
    </head>
    <body>

        <h1>Nouveau message de
            {{ contact.firstname|lower|title }}
            {{ contact.lastname|lower|title }}
            {% if contact.phoneNumber %}
                - {{ contact.phoneNumber }}
            {% endif %}
        </h1>

        <h2>Objet : {{ contact.subject }}</h2>

        <p>{{ contact.message }}</p>
    </body>
</html>
