{% extends "showcase/layout.html.twig" %}

{% block title %}Galerie - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">GALERIE DE PHOTOS</h1>

    {% if pictures is not empty %}
        <div class="d-flex mt-3">
            <div class="col-8 pe-2">
                <div id="picturesCarousel" class="carousel slide carousel-fade my-3" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        {% for picture in pictures %}
                            <div class="carousel-item d-flex justify-content-center align-items-center {{ loop.index == 1 ? 'active' }}">
                                <img class="m-0" src="{{ '/uploads/albums-pictures/' ~ picture.imageUrl }}" alt="Une photo du Souq' Jazz Machine">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#picturesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#picturesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="d-flex col-4 ps-2 pt-3">
                <div class="row align-content-start">
                    {% for picture in pictures %}
                        <div class="col-4 pe-1 pb-1 pt-0 ps-0 m-0 carousel-row">
                            <a class="d-flex justify-content-center bg-dark" type="button" data-bs-target="#picturesCarousel" data-bs-slide-to="{{ loop.index0 }}" class="{{ loop.index == 1 ? 'active' }}" aria-current="true" aria-label="Slide {{ loop.index }}">
                                <img class="img-fluid" src="{{ '/uploads/albums-pictures/' ~ picture.imageUrl }}" alt="Une photo du Souq' Jazz Machine">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucune photo trouvée :(</p>
    {% endif %}
{% endblock %}
