{% extends "showcase/layout.html.twig" %}

{% block banner %}
    <div class="card">
        <img src="{{ asset('build/images/banner.jpg') }}" class="card-img" alt="A picture of saxophones">
        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center">
            <div class="w-50 bg-dark">
                <h2 class="card-title h1">Bienvenue au Souq' Jazz Machine!</h2>
                <p class="card-text">Le Big Band qui te fait rêver!</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2 class="h1 my-4">ACTUALITÉS</h2>

    {% for news_article in news_articles %}
        <div class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h2 class="h5">{{ news_article.title }}</h2>
                    <p class="h5">Posté le {{ news_article.createdAt|date('d/m/Y') }}</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ news_article.content|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun article trouvé :(</p>
    {% endfor %}

    <hr>

    {% if concert %}
        <h2 class="h1 my-4">PROCHAIN CONCERT</h2>

        <div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <p class="h5">{{ concert.city }}</p>
                    <p class="h5">{{ concert.date|date('d/m/Y, H:i') }}</p>
                    {% for rate in concert.rates %}
                        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ concert.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
