{% extends "showcase/layout.html.twig" %}

{% block banner %}
    <div class="card">
        <img src="{{ asset('build/images/banner.jpg') }}" class="card-img" alt="A picture of saxophones">
        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center">
            <div data-aos="zoom-in-up" class="w-lg-50 w-sm-100 bg-dark p-3 rounded">
                <h1 class="card-title h1">{{ catchphrase ? catchphrase.title : "Bienvenue au Souq' Jazz Machine!" }}</h1>
                <p class="card-text">{{ catchphrase ? catchphrase.phrase : "Le Big Band qui fait voyager!" }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2 data-aos="fade-right" class="h1 my-4">ACTUALITÉS</h2>

    {% for news_article in news_articles %}
        <div data-aos="fade-right" class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h2 class="h5">{{ news_article.title }}</h2>
                    <p class="h5">Posté le {{ news_article.createdAt|date('d/m/Y') }}</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ news_article.content|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="mt-5" data-aos="fade-right">
            <p>Aucun article trouvé <i class="fas fa-frown"></i></p>
        </div>
    {% endfor %}

    {% if concert %}
        <hr data-aos="fade-right">
        <h2 data-aos="fade-right" class="h1 my-4">PROCHAIN CONCERT</h2>

        {% include "showcase/_concert_card.html.twig" %}
    {% endif %}
{% endblock %}
