<div class="accordion accordion-flush mt-5" id="partnersAccordion">
    {% set count = 0 %}
    {% for partner in partners %}
        {% set count = count + 1 %}
        <div class="accordion-item border-0 {{ count is odd ? 'bg-light' }}">
            <h2 class="accordion-header" id="flush-title-{{ partner.id }}">
                <button class="accordion-button collapsed {{ count is odd ? 'bg-light' }}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ partner.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ partner.id }}">
                    <ul class="col-12 d-flex justify-content-around text-secondary list-unstyled m-0">
                        <li class="col-lg-6 col-12 px-4">{{ partner.name }}</li>
                        <li class="col-6 d-lg-inline d-none px-4 text-end">
                            {% if partner.category == 'friend' %}
                                Copain / Copine
                            {% elseif partner.category == 'formerMember' %}
                                Ancien membre
                            {% elseif partner.category == 'concertPlace' %}
                                Salle de concert
                            {% else %}
                                Autre
                            {% endif %}
                        </li>
                    </ul>
                </button>
            </h2>
            <div id="flush-collapse-{{ partner.id }}" class="accordion-collapse collapse" aria-labelledby="flush-title-{{ partner.id }}" data-bs-parent="#partnersAccordion">
                <div class="accordion-body">
                    <div class="d-flex flex-lg-row flex-column">
                        <div class="col-lg-9 col-12 px-4">
                            <ul>
                                <li>Nom : {{ partner.name }}</li>
                                <li>
                                    Catégorie :
                                    {% if partner.category == 'friend' %}
                                        Copain / Copine
                                    {% elseif partner.category == 'former-member' %}
                                        Ancien membre
                                    {% elseif partner.category == 'concert-place' %}
                                        Salle de concert
                                    {% else %}
                                        Autre
                                    {% endif %}
                                </li>
                                <li>Adresse email : {{ partner.email ?? 'Non renseignée' }}</li>
                                <li>Numéro de téléphone : {{ partner.phone ?? 'Non renseigné' }}</li>
                                <li>Ajouté le : {{ partner.createdAt|date('d/m/Y') }}</li>
                                <li>Description : {{ partner.description ? partner.description|raw : 'Aucune description' }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-12 px-4 text-lg-end text-center">
                            <div class="my-1">
                                <a class="btn btn-warning" href="{{ path('admin_partner_edit', {'id': partner.id}) }}"><i class="fas fa-pen me-2"></i>Modifier</a>
                            </div>
                            <div class="my-1">{% include "admin/partner/components/_delete_form.html.twig" %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="accordion-item">Aucun contact trouvé...</div>
    {% endfor %}
</div>
