{% extends "admin/layout.html.twig" %}

{% block title %}Les actus - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les actus :</h1>

    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{{ path('admin_news_add') }}">Ajouter une actu</a>
        {{ form_start(filterForm) }}
            <div class="d-flex">
                <div class="input-group ms-3">
                    {{ form_widget(filterForm.sort) }}
                    <button class="btn-outline btn-outline-secondary d-flex align-items-center">Trier</button>
                </div>
                <div class="input-group ms-3">
                    {{ form_widget(filterForm.query) }}
                    <button class="btn-outline btn-outline-secondary d-flex align-items-center">🔍</button>
                </div>
            </div>
        {{ form_end(filterForm) }}
    </div>

    {% for news_article in news_articles %}
        <div class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h2 class="h5">{{ news_article.title }}</h2>
                    <p class="h5">Posté le {{ news_article.createdAt|date('d/m/Y') }}</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ news_article.content|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="mx-1">
                <a class="btn btn-warning" href="{{ path('admin_news_edit', {'id': news_article.id}) }}">Modifier</a>
            </div>
            <div class="mx-1">
                {% include "admin/news/components/_delete_form.html.twig" %}
            </div>
        </div>
    {% else %}
        <p class="mb-3 mt-5">Aucune actu trouvée :(</p>
    {% endfor %}
{% endblock %}
