{% extends "admin/layout.html.twig" %}

{% block title %}Mes informations - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Salut {{ app.user.pseudonym ?? app.user.firstname }}!</h1>

    <h2 class="h5 my-4">C'est ici que tu peux retrouver et modifier tes informations personnelles :)</h2>

    <a href="{{ path('admin_members') }}">Revenir sur la liste des membres</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ app.user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ app.user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ app.user.pseudonym ?? "Non renseigné" }}</td>
            </tr>
            <tr>
                <th>Instrument</th>
                <td>{{ app.user.instrument.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ app.user.phone ?? "Non renseigné" }}</td>
            </tr>
            <tr>
                <th>Phrase d'accroche</th>
                <td>{{ app.user.catchphrase ? "\"" ~ app.user.catchphrase ~ "\"" : "Non renseignée" }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_edit') }}" class="btn btn-primary">Modifier mes informations</a>
{% endblock %}
