{% extends "admin/layout.html.twig" %}

{% block title %}Les albums photo - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('album') }}
{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les albums photos :</h1>

    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{{ path('admin_album_add') }}"><i class="fas fa-plus me-2"></i>Ajouter un nouvel album</a>
        {{ form_start(filter_form) }}
            <div class="d-flex">
                <div class="input-group ms-3">
                    {{ form_widget(filter_form.sort) }}
                    <noscript>
                        <button class="btn-outline btn-outline-secondary d-flex align-items-center"><i class="fas fa-sort mx-1"></i></button>
                    </noscript>
                </div>
                <div class="input-group ms-3">
                    {{ form_widget(filter_form.query) }}
                    <noscript>
                        <button class="btn-outline btn-outline-secondary d-flex align-items-center"><i class="fas fa-search mx-1"></i></button>
                    </noscript>
                </div>
            </div>
        {{ form_end(filter_form) }}
    </div>

    <section id="albumsList">
        {% include "admin/album/components/_albums_list.html.twig" %}
    </section>
{% endblock %}
