<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/curved-lizard.png') }}"/>
        <title>
            {% block title %}
                Souq' Jazz Machine
            {% endblock %}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="bg-primary text-secondary">
        <header class="sticky-top">
            {% block navbar %}{% endblock %}
        </header>
        {% block banner %}{% endblock %}
        <main class="container">
        <noscript>
            <div class="alert alert-warning my-3">
                Ce site a besoin que vous activiez JavaScript afin de fonctionner correctement.
            </div>
        </noscript>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} my-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}{% endblock %}
        </main>
        {% block toast %}{% endblock %}
        <footer class="sticky-bottom mt-5">
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
