{% extends "admin/layout.html.twig" %}

{% block title %}Modifier le concert - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier le concert :</h1>

    <a href="{{ path('admin_concert_agenda') }}">&lt;- Revenir sur le calendrier</a>

    {% include "admin/concert/components/_form.html.twig" with {"button_label": "Modifier"} %}
    <div class="my-1">
        {% include "admin/concert/components/_delete_form.html.twig" %}
    </div>

    <h2 class="h2 my-4 text-decoration-underline">Les tarifs :</h2>

    <a class="btn btn-success" href="{{ path('admin_concert_rate_add', {'id': concert.id}) }}">Ajouter un tarif</a>

    {% if concert.rates is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in concert.rates %}
                    <tr>
                        <td>{{ rate.category == '' ? 'Entrée' : rate.category }}</td>
                        <td>{{ rate.price == 0 ? 'gratuite' : rate.price|number_format(2, ',', '.') ~ '€' }}</td>
                        <td><a class="btn btn-warning" href="{{ path('admin_concert_rate_edit', {'id': rate.id}) }}">Modifier</a></td>
                        <td>{% include "admin/concert/components/_rate_delete_form.html.twig" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun tarif trouvé</p>
    {% endif %}
{% endblock %}
