{% extends "admin/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('concert') }}
{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les concerts :</h1>

    <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <a class="btn btn-success mb-md-0 mb-3" href="{{ path('admin_concert_add') }}"><i class="fas fa-plus me-2"></i>Proposer une date</a>
        {{ form_start(filter_form) }}
            <div class="d-flex">
                <div class="input-group ms-md-3 ms-0">
                    {{ form_widget(filter_form.sort) }}
                    <noscript>
                        <button class="btn-outline btn-outline-secondary d-flex align-items-center"><i class="fas fa-filter mx-1"></i></button>
                    </noscript>
                </div>
            </div>
        {{ form_end(filter_form) }}
    </div>

    <section id="concertsList">
        {% include "admin/concert/components/_concerts_list.html.twig" %}
    </section>
{% endblock %}
