{% extends "admin/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les concerts :</h1>

    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{{ path('admin_concert_add') }}">Proposer une date</a>
        {{ form_start(filter_form) }}
            <div class="d-flex">
                <div class="input-group ms-3">
                    {{ form_widget(filter_form.sort) }}
                    <button class="btn-outline btn-outline-secondary d-flex align-items-center">Filtrer</button>
                </div>
            </div>
        {{ form_end(filter_form) }}
    </div>

    {% if concerts|filter((concert) => not concert.isValidated) %}
        <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) proposée(s) :</h2>
        {% for concert in concerts|filter((concert) => not concert.isValidated) %}
            {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
        {% endfor %}
        <hr>
    {% endif %}

    {% if concerts|filter((concert) => concert.isValidated)|filter((concert) => concert.date >= date('now')) %}
        <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) à venir :</h2>
        {% for concert in concerts|filter((concert) => concert.isValidated)|filter((concert) => concert.date >= date('now')) %}
            {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
        {% endfor %}
        <hr>
    {% endif %}

    {% if concerts|filter((concert) => concert.date < date('now')) %}
        <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) passée(s) :</h2>
        {% for concert in concerts|filter((concert) => concert.date < date('now')) %}
            {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
        {% endfor %}
        <hr>
    {% endif %}

    {% if not concerts %}
        <p>Aucun concert trouvé :(</p>
    {% endif %}
{% endblock %}
