{% extends "admin/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les concerts :</h1>

    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{{ path('admin_concert_add') }}"><i class="fas fa-plus me-2"></i>Proposer une date</a>
        {{ form_start(filter_form) }}
            <div class="d-flex">
                <div class="input-group ms-3">
                    {{ form_widget(filter_form.sort) }}
                    <noscript>
                        <button class="btn-outline btn-outline-secondary d-flex align-items-center"><i class="fas fa-filter mx-1"></i></button>
                    </noscript>
                </div>
            </div>
        {{ form_end(filter_form) }}
    </div>

    {% if concerts|filter((concert) => not concert.isValidated) %}
        <section>
            <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) proposée(s) :</h2>
            {% for concert in concerts|filter((concert) => not concert.isValidated) %}
                {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
            {% endfor %}
            <hr>
        </section>
    {% endif %}

    {% if concerts|filter((concert) => concert.isValidated)|filter((concert) => concert.date >= date('now')) %}
        <section>
            <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) à venir :</h2>
            {% for concert in concerts|filter((concert) => concert.isValidated)|filter((concert) => concert.date >= date('now')) %}
                {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
            {% endfor %}
            <hr>
        </section>
    {% endif %}

    {% if concerts|filter((concert) => concert.date < date('now')) %}
        <section>
            <h2 class="h4 mt-5 mb-3 text-decoration-underline">Date(s) passée(s) :</h2>
            {% for concert in concerts|filter((concert) => concert.date < date('now')) %}
                {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
            {% endfor %}
        </section>
    {% endif %}

    {% if not concerts %}
        <p class="mt-5">Aucun concert trouvé...</p>
    {% endif %}
{% endblock %}
