{% extends "admin/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les Concerts :</h1>
    <div class="d-flex">
        <a class="btn btn-success" href="{{ path('admin_concert_add') }}">Proposer une date</a>
    </div>

    {% if not_validated_concerts %}
        <h2 class="h5 mb-5 mt-3 text-decoration-underline">Date(s) proposées :</h2>
        {% for concert in not_validated_concerts %}
            <div class="card mb-3 border-0 mt-5">
                <h3 class="h5 text-decoration-underline">Proposée par {{ concert.owner.pseudonym ?? (concert.owner.firstname ~ ' ' ~ concert.owner.lastname) }} :</h3>
                <div class="row g-0">
                    <div class="card-title col-md-4">
                        <h3 class="h5">{{ concert.city }}</h3>
                        <h3 class="h5">{{ concert.date|date('d/m/Y, H:i') }}</h3>
                        {% for rate in concert.rates %}
                            <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-0">
                            <div class="card-text">{{ concert.description|markdown }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "admin/components/concert/_vote.html.twig" %}
        {% endfor %}
    {% endif %}

    <hr>

    <h2 class="h5 my-4 text-decoration-underline">Date(s) à venir :</h2>
    {% for concert in future_concerts %}
        <div class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h3 class="h5">{{ concert.city }}</h3>
                    <h3 class="h5">{{ concert.date|date('d/m/Y, H:i') }}</h3>
                    {% for rate in concert.rates %}
                        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ concert.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="d-flex justify-content-end">
                {% include "admin/components/concert/_admin_button.html.twig" %}
            </div>
        {% endif %}
    {% else %}
        <p>Aucun concert trouvé :(</p>
    {% endfor %}

    <hr>

    <h2 class="h5 my-4 text-decoration-underline">Date(s) passées :</h2>
    {% for concert in past_concerts %}
        <div class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h3 class="h5">{{ concert.city }}</h3>
                    <h3 class="h5">{{ concert.date|date('d/m/Y, H:i') }}</h3>
                    {% for rate in concert.rates %}
                        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ concert.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="d-flex justify-content-end">
                {% include "admin/components/concert/_admin_button.html.twig" %}
            </div>
        {% endif %}
    {% else %}
        <p>Aucun concert trouvé :(</p>
    {% endfor %}

{% endblock %}
