{% extends "admin/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les Concerts :</h1>

    <a class="btn btn-success" href="{{ path('admin_concert_add') }}">Proposer une date</a>

    {% if not_validated_concerts %}
        <h2 class="h5 my-4 text-decoration-underline">Date(s) proposées :</h2>
        {% for concert in not_validated_concerts %}
            <div class="card mb-3 border-0 mt-5">
                <h3 class="h5 text-decoration-underline">Proposée par {{ concert.owner.pseudonym ?? (concert.owner.firstname ~ ' ' ~ concert.owner.lastname) }} :</h3>
                <div class="row g-0">
                    <div class="card-title col-md-4">
                        <h3 class="h5">{{ concert.city }}</h3>
                        <h3 class="h5">{{ concert.date|date('d/m/Y, H:i') }}</h3>
                        {% for rate in concert.rates %}
                            <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-0">
                            <div class="card-text">{{ concert.description|markdown }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "admin/components/concert/_vote.html.twig" %}
        {% endfor %}
    {% endif %}

    <hr>

    <h2 class="h5 my-4 text-decoration-underline">Date(s) à venir :</h2>
    {% for concert in validated_concerts %}
        <div class="card mb-3 border-0 mt-5">
            <div class="row g-0">
                <div class="card-title col-md-4">
                    <h3 class="h5">{{ concert.city }}</h3>
                    <h3 class="h5">{{ concert.date|date('d/m/Y, H:i') }}</h3>
                    {% for rate in concert.rates %}
                        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="card-text">{{ concert.description|markdown }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="admin-dropdown-{{ concert.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </button>
                    <ul class="dropdown-menu border-0" aria-labelledby="admin-dropdown-{{ concert.id }}">
                        <li>
                            <a class="btn btn-warning" href="{{ path('admin_concert_edit', {'id': concert.id}) }}">Modifier</a>
                        </li>
                        <li>
                            {% include "admin/components/concert/_delete_form.html.twig" %}
                        </li>
                    </ul>
                </div>
            {% endif %}
    {% else %}
        <p>Aucun concert trouvé :(</p>
    {% endfor %}

{% endblock %}
