{% extends "admin/layout.html.twig" %}

{% block title %}Modifier le concert - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier le concert :</h1>

    <a href="{{ path('admin_concert_agenda') }}">Revenir sur le calendrier</a>

    {% include "admin/components/concert/_form.html.twig" with {"button_label": "Modifier"} %}

    <h2 class="h2 my-4 text-decoration-underline">Les tarifs :</h2>

    {% for rate in concert.rates %}
        <p class="h6">{{ rate.category == '' ? 'Entrée' : rate.category }} : {{ rate.price == 0 ? 'gratuite' : rate.price ~ '€' }}</p>
        <a class="btn btn-warning" href="{{ path('admin_concert_rate_edit', {'id': rate.id}) }}">Modifier ce tarif</a>
        {% include "admin/components/concert/_rate_delete_form.html.twig" %}
    {% else %}
        <p>Aucun tarif trouvé</p>
    {% endfor %}

    <a class="btn btn-success" href="{{ path('admin_concert_rate_add', {'id': concert.id}) }}">Ajouter un tarif</a>

    {% include "admin/components/concert/_delete_form.html.twig" with {"delete_label": "Supprimer ce concert"} %}
{% endblock %}
