{% extends "admin/layout.html.twig" %}

{% block title %}Les contacts externes - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les contacts externes :</h1>

    <div class="d-flex">
        <a class="btn btn-success" href="{{ path('admin_partner_add') }}">Ajouter un contact</a>
    </div>

    <div class="accordion accordion-flush mt-5" id="partnersAccordion">
        {% set count = 0 %}
        {% for partner in partners %}
            {% set count = count + 1 %}
            <div class="accordion-item border-0 {{ count is odd ? 'bg-light' }}">
                <h2 class="accordion-header" id="flush-title-{{ partner.id }}">
                    <button class="accordion-button collapsed {{ count is odd ? 'bg-light' }}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ partner.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ partner.id }}">
                        <div class="col-12 d-flex justify-content-around text-secondary">
                            <div class="col-6 px-4">{{ partner.name }}</div>
                            <div class="col-6 px-4 text-end">{{ partner.category == 'Autre' ? 'Non catégorisé' : partner.category }}</div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapse-{{ partner.id }}" class="accordion-collapse collapse" aria-labelledby="flush-title-{{ partner.id }}" data-bs-parent="#partnersAccordion">
                    <div class="accordion-body">
                        <div class="d-flex">
                            <div class="col-9 px-4">
                                <ul>
                                    <li>Nom : {{ partner.name }}</li>
                                    <li>Catégorie : {{ partner.category }}</li>
                                    <li>Adresse email : {{ partner.email ?? 'Non renseignée' }}</li>
                                    <li>Numéro de téléphone : {{ partner.phone ?? 'Non renseigné' }}</li>
                                    <li>Ajouté le : {{ partner.createdAt|date('d/m/Y') }}</li>
                                    <li>Description : {{ partner.description ?? 'Aucune description' }}</li>
                                </ul>
                            </div>
                            <div class="col-3 px-4 text-end">
                                <div class="my-1">
                                    <a class="btn btn-warning" href="{{ path('admin_partner_edit', {'id': partner.id}) }}">Modifier</a>
                                </div>
                                <div class="my-1">{% include "admin/partner/components/_delete_form.html.twig" %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="accordion-item">Aucun contact trouvé :(</div>
        {% endfor %}
    </div>
{% endblock %}
